.navbar{
    background-color: black;
    font-size: 30px;
    height: 70px;
    padding: 10px;
}
.list{
    display: flex;
    list-style: none;
    
}
.li{
   margin-left: 20px;
   text-decoration: none;
}
*{
 margin: 0px;
}
