.container{
    display: flex;
    margin-left: 20px;
    padding-top: 5px;
    
    
}
.dropdown{
    margin-left: 20px;
    
}
.icon{
    margin-left: 15px;
    margin-top: 10px;
}
.iconStyles{
    margin-left: 30px;
    margin-top: 0px;
}
#big{
    background-color: rgb(180, 241, 241);
    margin: 0px;
    margin-top: 0px;
}
.icon:hover{
    cursor: pointer;
}
#background:hover{
    background-color: rgb(125, 244, 107);
}